<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header mode="ios">
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <ion-button fill="clear">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </ion-card>

  <ion-item>
    <ion-label>opção 01</ion-label>
  </ion-item>
  <br>
  <ion-card>
    <img src="https://img.freepik.com/free-vector/group-people-illustration-set_52683-33806.jpg?w=2000" alt="">
    <ion-card-content>
      Developing in Ionic
    </ion-card-content>
  </ion-card>

  <ion-list>

  </ion-list>
</ion-content>